<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Add New Query</h5>
            <small class="text-muted float-end">Create New Query</small>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="exampleFormControlSelect1" class="form-label">Title <span class="text-danger h6">*</span></label>
                    <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.title">
                      <option [ngValue]="''" disabled>Select</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Dr.">Dr.</option>
                      <option value="Prof.">Prof.</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-fullname">Client Name <span class="text-danger h6">*</span></label>
                      <input type="text" class="form-control" id="basic-default-fullname" name="name" id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.name" placeholder="John Doe" />
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Mobile Number <span class="text-danger h6">*</span></label>
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.mobile" id="basic-default-fullname" placeholder="+91 856 9586 405" />
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Destination <span class="text-danger h6">*</span></label>
                    
                    <input type="text" class="form-control" [(ngModel)]="searchTerm" name="dest" (ngModelChange)="onSearchChange()" placeholder="Search Destination"  autocomplete="off"/>
                
                    <div *ngIf="searchTerm.length > 0 && filteredCities.length > 0" class="custom-dropdown">
                      <div class="custom-dropdown-item" *ngFor="let city of filteredCities" (click)="selectCity(city)">
                        {{ city.name }} ({{city.type}})
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-company">Email ID <span class="text-danger h6">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="mail" id="basic-default-email" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.email" placeholder="john.doe@example.com" aria-label="john.doe" aria-describedby="basic-default-email2" />
                      <span class="input-group-text" id="basic-default-email2">&#64;example.com</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Selected Destinations <span class="text-danger h6">*</span></label>
                        <div class="demo-inline-spacing form-control" style="height: 40px;">
                            <div class="bs-toast custom-toast toast fade show bg-secondary" *ngFor="let destination of addQuery.destinations">
                                <div class="custom-toast-header toast-header">
                                  <div class="me-auto fw-semibold">{{destination.name}}</div>
                                  <button type="button" (click)="deleteDestinationById(destination.id)" class="btn-close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">From Date <span class="text-danger h6">*</span></label>
                    <input type="date" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.from_date" id="basic-default-fullname" placeholder="John Doe" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">To Date <span class="text-danger h6">*</span></label>
                    <input type="date" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.to_date" id="basic-default-fullname" placeholder="John Doe" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Adults count <span class="text-danger h6">*</span></label>
                    <input type="number" value="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.adult_count" min="0" class="form-control" id="basic-default-fullname" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">child count <span class="text-danger h6">*</span></label>
                    <input type="number" value="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.child_count" min="0" class="form-control" id="basic-default-fullname" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Infant count <span class="text-danger h6">*</span></label>
                    <input type="number" value="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.infant_count" min="0" class="form-control" id="basic-default-fullname" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Lead Source <span class="text-danger h6">*</span></label>
                    <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.source">
                      <option [ngValue]="''" disabled>Select Source</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Advertisiment">Advertisiment</option>
                      <option value="Walk In">Walk In</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Lead Priority <span class="text-danger h6">*</span></label>
                    <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.priority">
                      <option [ngValue]="''" disabled>Select Priority</option>
                      <option value="Urgent">Urgent</option>
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Query Type</label>
                    <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.query_type" (change)="getSalesUsers()">
                      <option  [ngValue]="''" disabled>Select</option>
                      <option value="B2C">B2C - Farepayer</option>
                      <option value="B2B">B2B - Vaayutrip</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Assign To</label>
                    <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.assign_to">
                      <option  [ngValue]="'un-assigned'" disabled>Asign User</option>
                      <option *ngFor="let user of users"  [ngValue]="user.id">{{user.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Remarks</label>
                    <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="addQuery.remarks" id="" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
