.custom-dropdown {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: block;
  }
  
  .custom-dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .custom-dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .toast {
    width: auto;
    /* height: min-content; */
  }
  .toast-header{
    padding: 0px 30px 0 10px!important;

  }
 .toast-header .btn-close, .bg-dark.bs-toast .toast-header .btn-close {
    padding: 2px!important;
    background-color:#d80d0d!important;
  }

  .demo-inline-spacing > * {
    margin: 0rem 0.375rem 0 0 !important;
    float:left;

}