<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="float-right">
                <button class="btn btn-primary ml-2" (click)="onSubmit()">Create Itinerary</button>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <div class="col-xl">
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Add New Itinerary</h5>
              <small class="text-muted float-end">Create New Itinerary</small>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-fullname">Itinerary name<span class="text-danger h6">*</span></label>
                      <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.name" id="basic-default-fullname" placeholder="Dubai Trip 4N..5D" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-company">Itinerary Type <span class="text-danger h6">*</span></label>
                      <div class="input-group input-group-merge">
                        <select class="form-select"  [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.type">
                            <option value="">Select</option>
                            <option value="B2C">B2C - Farepayer</option>
                            <option value="B2B">B2B - Vaayutrip</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="startDate"><img src="assets/img/icons/custom/date.png" height="15" alt=""> Itinerary Start Date</label>
                            <input type="date" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.startDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="startDate"><img src="assets/img/icons/custom/date.png" height="15" alt=""> Itinerary End Date</label>
                            <input type="date" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.endDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Destination <span class="text-danger h6">*</span></label>
                            
                            <input type="text" class="form-control" [(ngModel)]="searchTerm" name="dest" (ngModelChange)="onSearchChange()" placeholder="Search Destination"  autocomplete="off"/>
                        
                            <div *ngIf="searchTerm.length > 0 && filteredCities.length > 0" class="custom-dropdown">
                                <div class="custom-dropdown-item" *ngFor="let city of filteredCities" (click)="selectCity(city)">
                                {{ city.name }} ({{ city.type }})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Adults count <span class="text-danger h6">*</span></label>
                            <input type="number" value="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.adult_count" min="0" class="form-control" id="basic-default-fullname" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">child count <span class="text-danger h6">*</span></label>
                            <input type="number" value="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.child_count" min="0" class="form-control" id="basic-default-fullname" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Infant count <span class="text-danger h6">*</span></label>
                            <input type="number" value="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.infant_count" min="0" class="form-control" id="basic-default-fullname" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Selected Destinations <span class="text-danger h6">*</span></label>
                            <div class="demo-inline-spacing form-control" style="height: 40px;">
                                <div class="bs-toast custom-toast toast fade show bg-secondary" *ngFor="let destination of itinerary.destination">
                                    <div class="custom-toast-header toast-header">
                                      <div class="me-auto fw-semibold">{{destination.name}}</div>
                                      <button type="button" (click)="deleteDestinationById(destination.id)" class="btn-close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label" for="basic-default-fullname">Notes</label>
                      <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="itinerary.note" id="" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  