<ng-container *ngIf="is_login_page==1; else elseTemplate">
  <app-login></app-login>
  <app-toast></app-toast>
</ng-container>

<ng-template #elseTemplate>
  
  <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        
          <app-sidebar></app-sidebar>

          <div class="layout-page">
            
            <app-navbar></app-navbar>

            <div *ngIf="loading$ | async" class="loader-overlay">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            
            <router-outlet></router-outlet>
            
            <app-toast></app-toast>

            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ALL RIGHTS RESERVED | © Fare Payer
                </div>
              </div>
            </footer>
            
          </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
  </div>

</ng-template>

