<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="itinerary-name text-center">
                <h3>{{itinerary.name}} - ({{itinerary.duration}})</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 side-bar">
                <ul>
                    <li [ngClass]="{'active': activeDay === day}" *ngFor="let day of days" (click)="changeActiveDay(day)">
                        <p class="h4">Day {{ day }}</p>
                        <p class="h4"> {{ itinerary.startDate }}</p>
                        <select class="form-select" name="" id="">
                            <option value="{{destination.id}}" *ngFor="let destination of itinerary.destinations">{{destination.name}}</option>
                        </select>
                        
                    </li>
                </ul>
            </div>
            <div class="col-md-7 itinerary-body">
                <div class="card mb-2 p-3 mt-3">
                    <strong>Manali Local sightseeing</strong>
                    <p>This morning after breakfast. you can visit manali locat sightseeing-Hadimba temple Club House, van vihar, vashist, manu temple, tibatan monestry, manali mall road.
                        come back hotel, Dinner & overnight stay.
                    </p>
                </div>
                <div class="card mb-2 p-3 mt-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="100" alt="">
                        </div>
                        <div class="col-md-9">
                            <h4><strong>Orchid Hotel Dubai</strong></h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Check-In</strong><br>
                                    <img src="https://static-00.iconduck.com/assets.00/calendar-icon-1995x2048-tot17508.png" height=15 alt="">
                                    <span> 16/10/2024</span>
                                </div>
                                <div class="col-md-4">
                                    <strong>Check-Out</strong><br>
                                    <img src="https://static-00.iconduck.com/assets.00/calendar-icon-1995x2048-tot17508.png" height=15 alt="">
                                    <span> 16/10/2024</span>
                                </div>
                                <div class="col-md-4">
                                    <strong>Room Type</strong><br>
                                    <img src="https://icons.veryicon.com/png/o/miscellaneous/home-icon-1/house-30.png" height=15 alt="">
                                    <span>Standard Room</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                    <span class="mb-2"><strong>Room : </strong>1 Double | <strong>Meal : </strong>Breakfast</span>
                                    <p class="message text-danger">Rates are subject of availability</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 itinerary-option">
                <select name="" class="form-select mt-2" id="">
                    <option value="0">Day itinerary</option>
                    <option value="1">Accommodation</option>
                    <option value="2">Activity</option>
                    <option value="3">Transportation</option>
                    <option value="4">Insurance/Visa</option>
                    <option value="5">Meal</option>
                    <option value="6">Flight</option>
                    <option value="7">Leisure</option>
                    <option value="8">Cruise</option>
                </select>
                <P class="message pt-1 text-center">Suggested accomodation in <STRONG class="text-primary">Himachal Pardesh</STRONG></P>
                <div class="card mb-2 pt-2" (click)="addHotelDetails(1)">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 pt-2">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://cdni.iconscout.com/illustration/premium/thumb/hotel-illustration-download-in-svg-png-gif-file-formats--seven-star-building-popular-pack-people-illustrations-5868697.png?f=webp" height="40" alt="">
                        </div>
                        <div class="col-md-9">
                            CCN Resort (Shimla)
                            <p class="message text-gold">Resort</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<app-modal [modalTitle]="modalTitle" [modalContent]="modalContent" [confirmAction]="addHotel"></app-modal>

