.fa-star {
    color: #ccc; /* Default color for unselected stars */
  }
  
  .fa-star.checked {
    color: rgb(230, 200, 35); /* Color for selected stars */
  }

  .custom-dropdown {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: block;
  }
  
  .custom-dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .custom-dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  /* .table-responsive{
    height: 250px;
  } */